{% extends 'base.html.twig' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="w-full">
        <h1 class="text-3xl font-bold">Ласкаво просимо до about</h1>
        <p class="mt-4 text-lg">Це сторінки about.</p>
    </div>
{% endblock %}