{% extends 'base.html.twig' %}

{% block title %}Головна{% endblock %}

{% block content %}
    <div class="w-full">
        <h1 class="text-3xl font-bold">Ласкаво просимо до home</h1>
        <p class="mt-4 text-lg">Це сторінки home.</p>
    </div>
{% endblock %}
