{% extends 'base.html.twig' %}

{% block title %}Головна{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold">Ласкаво просимо до Symfony 6.4 + Tailwind!</h1>
    <p class="mt-4 text-lg">Це приклад сторінки.</p>
{% endblock %}
