
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.*
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

### IDE-specific files ###
# PhpStorm
.idea/
*.iml

# VS Code
.vscode/

/templates/BackEnd
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
.rnd
###< lexik/jwt-authentication-bundle ###


###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
