{% extends 'base.html.twig' %}

{% block title %}Контакти{% endblock %}

{% block content %}
    <div class="w-full">
        <h1 class="text-3xl font-bold">Ласкаво просимо до contact</h1>
        <p class="mt-4 text-lg">Це сторінки contact.</p>
    </div>
{% endblock %}